<div class="jumbotron text-centre">
	<h1>MEAN Authentication App</h1>
	<p *ngIf="user" class="lead">Welcome, {{user.name}}!</p>
	<div>
		<a *ngIf="!authService.loggedIn()" [routerLink]="['/register']"class="btn btn-primary">Register</a>
		<a *ngIf="!authService.loggedIn()" [routerLink]="['/login']" class="btn btn-default">Login</a>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h3>Express Backend</h3>
		<p>Node.js/Expres server using Mongoose to organize models and query the database.</p>
	</div>
	<div class="col-md-4">
		<h3>Anglular-CLI</h3>
		<p>Anugular-CLI for the generation of compoents, services and more.</p>
	</div>
	<div class="col-md-4">
		<h3>JWT Tokens</h3>
		<p>Full featured authentication using JSON web tokens - login and store user data.</p>
	</div>
</div>